/* .header-bg-image {
    background-image: url("../../assets/pianoTiles.jpeg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
} */
.green-blue-dot {
}
