@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&family=Stint+Ultra+Expanded&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--colors-black);
}
:root {
  --colors-green: #31a36c;
  --colors-black: #1e1e1e;
  --colors-darkBlack: #1d1d1d;
  --colors-white: #ffffff;
  --colors-lightWhite: #d9d9d9;
  --colors-orange: #fa4616;
}

@layer components {
  .container {
    @apply w-[90%] max-w-[1480px] mx-auto px-5;
  }
}
/* utility classes  */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
.productListing-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;

}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
